body {
    background: #2b2d2f;
    margin: 0;
    font-family: math;
}

.container {
    height: 85%;
    padding: 0;
    margin: 10px 10px 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

@media only screen and (max-width: 860px) {
    .container {
        flex-wrap: wrap-reverse;
        height: auto;
    }
}

@media only screen and (max-width: 570px) {
    .image .responsive-img {
        margin: 5px;
        width: 300px;
        height: 300px;
        border-radius: 50%;
    }
}

.container p {
    text-align: center;
    font-size: x-large;
    color: lightgray;
    margin: 20px;
}

.container div {
    margin: 5px 5px 5px 5px;
}

.container .content {
    max-width: 500px;

    .icon {
        width: 60px;
        height: 60px;
        font-size: 60px;
        line-height: 60px;
        color: white;
        margin: inherit;
    }
}

.responsive-img {
    margin: 5px;
    width: 400px;
    height: 400px;
    border-radius: 50%;
}
